body {
  margin: 0;
  padding: 0;
  width: 100vm;
  height: 100%;
  color: #334155;
  background-color: #fff;
  /* font-size: 30px; */
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}
